.title {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 3px solid black;
    padding: 20px 50px;
    border-radius: 30px;
    box-shadow: 10px 10px 0px black;
    margin-bottom: 75px;
}
.title h1 {
    font-size: 50px;
    font-family: 'SourceSansProBold';
    font-weight: bold;
    margin: 0;
}
.title p {
    font-size: 20px;
    margin-top: 10px;
}

.pie {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(#5236ab 0%, #e41937 83%, white 83.00%);
}

.pie::before{
    position: absolute;
    content: "";
    left: 10%;
    top: 10%;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background: conic-gradient(white 100%, red 0%);
}

.pie::after {
    content: "83%";
    position: absolute;
    top: 35%;
    left: 30%;
    font-family: "SourceSansProBold";
    font-size: 50px;
}

main {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

main div section:last-child{
    width: 600px;
    text-align: justify;
}
h1 {
    font-size: 30px;
    font-family: 'SourceSansProBold';
    font-weight: bold;
}
h2 {
    font-size: 30px;
    font-family: 'SourceSansProBold';
}

main>div {
    position: relative;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px black;
    padding: 20px 50px 100px 50px;
}

main div section:first-child div{
    height: 200px;
    width: 200px;
}

.button {
    font-family: "SourceSansProBold";
    color: black;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    left: 45%;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px black;
    transition: all 0.3s ease;
}

.text p {
    text-align: justify;
    font-size: 20px;
    font-style: italic;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px rgb(228, 25, 55), 0.4em 0.4em black;
}

.button:active {
    transform: translate(7px, 7px);
    box-shadow: none;
}
