@font-face {    /*police cgi*/
    font-family: 'SourceSansProRegular';
    src: url(./font/SourceSansPro/SourceSansPro-Regular.ttf)
}
@font-face {    /*police cgi*/
    font-family: 'SourceSansProBold';
    src: url(./font/SourceSansPro/SourceSansPro-Bold.ttf)
}
@keyframes menu_appears {
    from {
        margin-top: -5px;
    }
    to {
        margin-top: 0px;
    }
}
@keyframes coming {
    from {
        opacity: 0;
        margin-top: 100px;
    }
    to {
        opacity: 100%;
        margin-top: 0;
    }
}
@keyframes zoom {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }

}
@keyframes from_top {
    from {
        transform: translate(0px, -200px);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes rayon { 
    from {
        transform: translate(-100px, 0) rotate(30deg);
    }
    to {
        transform: translate(650px, 0) rotate(30deg);
    }
}
    
html {
    scroll-behavior:smooth;
}
body {
    
    display: flex;
    flex-direction: column;
    font-family: SourceSansProRegular;
    color: black;
    margin: 0;
}
main {
    animation: zoom 0.5s;
    padding: 0px 200px;
}

nav {
    z-index: 1;
    position: sticky;
    top: 10px;
    display: flex;
    padding: 20px 50px;
    gap: 10px;
    justify-content: space-between;
    border: 4px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 7px 7px 0px rgb(228, 25, 55), .8em .8em 0px black;
    
    border-radius: 30px;
    margin: 50px;

    animation: from_top 0.5s;
}
nav img {
    width: 200px;
    object-fit: contain;
}
nav>ul {
    width: 70%;
    padding: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: right;
}
nav>ul>li {
    list-style: none;
    
    transition: all 0.3s ease;
}
nav>ul>li>a {
    box-shadow: 5px 5px 0px black;
    font-size: 20px;
    font-family: 'SourceSansProBold';
    font-weight: bold;
    font-variant: small-caps;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 40px;
    transition: all 0.3s ease;
}
nav>ul>li:hover {
    transform: scale(1.1);

}
nav>ul>li>a:hover {
    background-color: rgb(228, 25, 55);
    color: white;
    box-shadow: 10px 10px 0px black;
}
nav>ul>li:active {
    transform: translate(10px, 10px);
}
nav>ul>li:active a {
    box-shadow: none;
}


.menu_deroulant {
    font-size: 20px;
    position: absolute;
    display: block;
    visibility: hidden;
    box-sizing: border-box;
    border: 2px solid black;
    border-top: none;
    background-color: rgb(228, 25, 55);
    padding: 20px;
    border-radius: 0 0 30px 30px;
    box-shadow: 10px 10px 0px black;
}

.menu_deroulant li {
    list-style: none;
    margin-top: 10px;
}
.menu_deroulant a {
    text-align: center;
    text-decoration: none;
    color: white;
}
.menu_deroulant a:hover {
    text-decoration: underline;
}
.decouvrir:hover >a {
    box-shadow: 10px 10px 0px black;
    border-radius: 30px 30px 0px 0px;
    background-color: rgb(228, 25, 55);
    color: white;
}
.decouvrir:hover .menu_deroulant {
    animation: menu_appears 0.3s;
    width: 100%;
    visibility: visible;
    transition: all 0.3s;
}
nav>ul>li:active .menu_deroulant {
    box-shadow: none;
}
.decouvrir:active >a {
    box-shadow: none;
}



footer {
    margin-top: 150px;
    display: flex;
    position: relative;
    padding: 75px ;
    border-top: 6px solid black;
    background: linear-gradient(270deg,#5236ab 0%,#e41937 100%);
    justify-content: center;
}

footer>p {
    font-family: 'SourceSansProBold';
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

footer section {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
footer section button {
    display: flex;
    width: 150px;
    height: 50px;
    position: relative;
    align-items: center;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black;
    transition: all 0.3s ease;
}
footer section button img {
    position: absolute;
    left: 10px;
    height: 30px;
    width: 30px;
    transition: all 0.3s ease;
}
footer section button p {
    color: black;
    text-decoration: none;
    font-family: SourceSansProBold;
    font-weight: 1000;
    position: absolute;
    right: 35px;
}

footer section button:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 0 black;
}
footer section button:hover p {
    visibility: hidden;
}
footer section button:hover img {
    left: 55px;
}

.savoir_plus:hover button p {
    visibility: visible;
}
.youtube:hover button {
    background-color: rgb(209, 0, 0);
}
.twitter:hover button {
    background-color: rgb(85, 172, 238);
}
.facebook:hover button {
    background-color: rgb(59, 89, 152);
}
.linkedin:hover button {
    background-color: rgb(0, 89, 131);
}

footer section button:active {
    transform: translate(10px, 10px);
    box-shadow: none;
}